/* Large devices (desktops, 992px and up) */

@media only screen and (min-width: 992px){
    
    /* Main Content: Article > Aside */    
    .main-content{
        flex-wrap: nowrap;
    }
    
    .main-content--aside{
        flex: 1 auto;
        display: block;
        margin: var(--margin) auto var(--margin) var(--margin);
    }
    
    /* Social Navigation */
    .social-nav{
        margin-left: 0;
    }

    .social-nav li{
        flex: 0 1 auto;
        margin: .25em;
    }

    .social-nav li:last-child{
        margin-bottom: .25em;
    }

    .fab::after{
        display: block;
        margin-left: 0;
    }
}