:root{
    /* Main colors */
    --branding-color: #76b900;
    --branding-color--darker: #558600;
    --branding-color--brighter: #76d300;
    --accent-color: #ffffff;
    --text-color: #000000;
}

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
}

.site-wrapper{
    margin: 0 1em; /* Mq */
}

h2, h3, .main-nav > a{
    text-transform: uppercase;
}

a{
    color: inherit;
    text-decoration: none;
}

a, .fab{
    transition: all .3s ease-out;
}

p{
    text-align: justify;
}

/* Header: Branding / Main Navigation */
.site-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.site-branding{
    flex: 1 unset;
    height: 6rem; /* Fix nav-links --> burger */
    padding: .5em;
}

.site-branding_link > img{
    height: 100%;
}

.main-nav{
    flex: 1 auto;
    display: flex;
    justify-content: center;
}

.main-nav > a{
    align-self: flex-end;
    padding: 1em 2em;   
    font-size: .875em; /* 16 * 0.075 = 14px */
    font-weight: bold;
    transition: border .3s; 
    position: relative;
}

.main-nav > a::after{
    content: ""; 
    width: 0%;
    height: 4px;
    background: linear-gradient(to right,#B6FF00, #76d300);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: width .3s ease-out;
}
.main-nav > a:nth-child(2)::after{
    background: linear-gradient(to right,#76d300, #76b900);
}
.main-nav > a:nth-child(3)::after{
    background: linear-gradient(to right,#76b900, #558600);
}
.main-nav > a:nth-child(4)::after{
    background: linear-gradient(to right,#558600, #1e1e1e);
}

.main-nav > a:hover::after{
    width: 100%;
}



/* Advertising Figure */
.ad-figure{ 
    margin: 0;
    padding: 3em;
    position: relative;   
    background: linear-gradient(18deg, #76B900, #1e1e1e, #000000);
    text-align: center; /* Center all child elements */
    color: var(--accent-color);
}

.ad-figure > img {
    max-width: 100%;
}

.ad-figure > figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 78, 56, .5);
    text-align: left; /* Override text-align:center   */
    line-height: 2em;
    padding: 1em;
}

.ad-figure > figcaption a {
    float: left; /* Small-handset Setting */
    margin-right: 1em;
}

.ad-figure > figcaption a::after{
    font-family: 'Fontawesome';
    content: "\f0da";
    margin-left: .5em;
}

.button {
    background-color: var(--branding-color);
    letter-spacing: 1px;
    padding: 0 1rem;
    border-radius: .5em;
    cursor: pointer;
    border: none;
    transition: none;
}

.button:hover{
    background-color: var(--branding-color--brighter);
}

/* Main Content: Article > Aside */
.main-content{
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
}

.content-wrapper{
    flex: 2 auto;
    margin-right: 1em; /* Mq:small-tablet */
}

.main-content .decorated-title::before{
    content: "";
    display: inline-block;
    height: 20px;
    width: 30px;
    background-image: url(./img/nvidia-chartreuse.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: .5em;
}

.main-content--aside{
    background-color: var(--branding-color);
    color: var(--accent-color);
    padding: 1em;
    flex: 1 auto;
}

.main-content--aside h2{
    text-align: center;
}

.main-content--aside img{
    mix-blend-mode: lighten; /* Flatten img bg */
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

/* Social Navigation */
.social-nav{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}

.social-nav li{
    flex: 1 auto;
}

.social-nav .fab {
    font-size: 1.75em;
    transition: all .5s ease-out;
    padding: .25em .5em; /* Easier to reach */
    position: relative;
    text-align: center;
}

.fa-facebook-f:hover{
    color: #3b5998;
    transition: all .3s ease-out;
}

.fa-twitter:hover{
    color: #00aced;
}

.fa-instagram:hover{
    background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.fa-snapchat-ghost:hover{
    color: #fffc00;
}

.fa-linkedin-in:hover{
    color: #0e76a8;
}

/* Footer */

.site-footer{
    background-color: #004e38;
    display: flex;
    flex-wrap: wrap;
    color: var(--accent-color);
    position: relative;
    border-top: 4px solid var(--branding-color);
}

.site-footer > section{
    flex: 1;
    margin: 2em 1em;
}

.site-footer > section:nth-child(2){
    flex: 0 0 auto;
}

.site-footer > section:nth-child(3){
    flex: 0 2 auto;
}

.section-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-content.newsletter-form{
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
}

.section-content > div{
    flex: 1;
}
.newsletter-form > div{
    flex: 1;
    margin-right: .5em;
}

.newsletter-form input{  
    line-height: 2em;
    margin-bottom: .5em;
}

input[type="text"], 
input[type="email"]{
    min-width: 250px;
    padding-left: .5em;  
}

input[type="button"]{ /* Overriding Default Style */
    font-size: 1em;
    color: var(--accent-color); 
}

.thumbnail{  
    width: 100px;
    height: 100px;
    transition: all .1s ease-in;
}

.thumbnail:not(:last-child){
    margin-right: .5em;
}

.thumbnail > img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: 50% 50%;
}

.thumbnail.partenaires > img{
    object-fit: contain;
}

.gallery:hover{
    border: 4px solid var(--branding-color--brighter);
}

.partenaires:hover > img {
    width: 98%;
    opacity: .8;
}

.scroll-top_link{
    background-color: #004e38;
    width: 3em; 
    height: 3em;  
    position: absolute;
    bottom: calc(100% - 1.5em);
    left: calc(50% - 1.5em);
    border-radius: 1.5em;
    border: 4px solid var(--branding-color);
    border-right-color: #004e38;
    border-bottom-color: #004e38;
    transform: rotate(45deg); 
    text-align: center;
}

.scroll-top_link::after{
    content: "\f100";
    font-family: "FontAwesome";
    font-size: 1.5em;
    line-height: 1.5em;
    color: var(--branding-color);
    position: inherit;
    transform: rotate(45deg) translate(-25%, 25%);
}

.scroll-top_link:hover{
    background-color: var(--branding-color--brighter);   
}

.scroll-top_link:hover::after{
    color: var(--accent-color);
}


@media only screen and (min-width: 600px){
    .ad-figure > figcaption a {
        float: right;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){
    .site-wrapper{
        max-width: 1280px; /* Debug value */
        margin: 0 auto;
    }

    .main-content {
        margin: 0 2em;
    }
}