.uk-icon:not(.uk-preserve)[uk-icon="star"] [stroke*="#"]:not(.uk-preserve) {
    fill: lightgray;
    stroke: lightgray;
}
.uk-icon:not(.uk-preserve)[uk-icon="star"].checked [stroke*="#"]:not(.uk-preserve) {
    fill: gold;
    stroke: gold;
}

img[data-src][src*='data:image'] { 
    background-color: rgba(0, 0, 0, .3); 
}
a:hover img[data-src][src*='data:image'] { 
    background-color: rgba(15, 110, 205, .3); 
}
