*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
}

.site-wrapper{
    margin: 0 var(--margin);
}

h2, h3, .main-nav > a{
    text-transform: uppercase;
}

a{
    color: inherit;
    text-decoration: none;
    transition: all .3s ease-out;
}

p{
    text-align: justify;
}

/* Header: Branding / Main Navigation */
.site-header{
    display: flex;
    flex-wrap: wrap;
    background-color: salmon;
    padding: .5em 0;
}

.site-branding{
    flex: 0 0 auto;
}

.site-branding_link > img{
    width: 200px;
    height: auto;
}

.main-nav{
    background-color: lightsalmon;
    flex: 1 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.main-nav > .nav-item{
    background-color: lightyellow;
    flex: 1 100%;   
}
