:root{
    --bg-dark: #141e24;
    --bg-light: #fffff0;
    --lightgray--bg-dark:#374043;
    --lightgray--bg-light: #dcddd1;
    --accent-color: #b6053a;
    --tricks: #100E17;
}

.site-header, .site-footer{
    color: var(--bg-light);
}

.template-section:nth-child(even){
    background-color: var(--bg-light);
    color: var(--bg-dark);
}
.template-section:nth-child(odd){
    background-color: var(--bg-dark);
    color: var(--bg-light);
}