*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: var(--bg-color--dark);
    background-color: lightcoral;
}

.site-wrapper{
    margin: 0 auto;
}

.list-style-none{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/* Main Sections */
/* Header, main, footer… */



/* Header + Branding */
.site-header{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: linear-gradient(315deg, #ff002b 0%, #380036 74%);
    margin: 1em;
}

.main-nav{
    flex: 1 100%;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.menu-xs{
    flex: 1 100%;
    background-color: lightblue;
}
.menu-lg{
    display: none;
}

.menu-item{ /* Style for All .menu-item */
    text-transform: uppercase;
    text-align: center;
    padding: .5em;
    font-size: .875rem;
}

.main-menu > .menu-item:first-child{
    display: none; /* Hide home-link to gain extra-space */
}

.secondary-nav{
    background-color: lightslategray;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.secondary-nav > .menu-item{
    flex: 0 1 0px;
}

.flex-content{
    flex: 1;
    text-align: center;
}

.flex-content:not(.secondary-nav){
    flex: 1 100%;
}

.flex-content:last-child{
    margin-top: 0;
}
/* Footer */
.section-footer, .site-footer{
    background-color: lightseagreen;   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.site-footer{
    padding: 0 1em;
}

.footer-cta{
    margin-right: 1em;
}

/* Template Content - Sections */
.template-section {
    padding: 1em; 
}

@media only screen and (min-width: 576px){
    .site-header{
        flex-wrap: nowrap;
    }

    .logo, .main-nav{
        flex-basis: auto;
    }

    .logo{
        flex-grow: 0;
        flex-shrink: 0;
    }

    .main-nav{
        flex-grow: 1;
        flex-shrink: 1;
    }   
    
    .menu-lg{
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    .main-menu.menu-lg > .menu-item{
        flex: 1 auto;
    }

    .menu-item > a, .site-footer a{
        padding-top: .25em;
        padding-bottom: .25em;
        border-bottom: 1px solid;
    }
    
    .menu-item > a:hover{
        border-bottom: none;
    }
    
    .mobile{ /* .main-menu--toggle, .main-menu.xs */
        display: none;
    }


    /* .flex-content{
        flex: 1;
        text-align: left;
    } */
}

@media only screen and (min-width: 768px){
    .menu-item{
        padding: 1em;
    }
}

@media only screen and (min-width: 992px){
    .site-wrapper{
        max-width: 90vw;
    }

    .main-nav{
        justify-content: center;
    }

    .main-menu > .menu-item:first-child{
        display: block;
    }
}