*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: var(--bg-dark);
    background-color: var(--tricks);
}
.site-wrapper{
    margin: 0 auto;
}
.list-style-none{
    list-style: none;
    padding-left: 0;
}
.d-iblock{
    display: inline-block;
}
.p-absolute{
    position: absolute;
    top: 0;
    left: 0;
}
.bigger{
    font-size: 1.125em;
    line-height: 1.5;
}
.lighter{
    font-weight: 100;
}
em{
    text-transform: uppercase;
    font-style: normal;
}

/*****************************
**	SITE HEADER + Branding	**
******************************/
.site-header{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: linear-gradient(315deg, #ff002b 0%, #380036 74%);
    margin: 1em;
}

.main-nav{
    flex: 1 100%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.main-menu{
    margin: 0;
}

.menu-xs{
    display: none;
    flex: 1 100%;
    background-color: rgba(20, 30, 36, 1);
    padding-top: 1em;
    padding-bottom: 1em;
}
.menu-lg{
    display: none;
}

.menu-item{ /* Style for ALL menu-item */
    text-transform: uppercase;
    text-align: center;
    padding: .5em;
    font-size: .875rem;
}

.menu-xs > .menu-item{
    font-size: initial;
}
.menu-lg > .menu-item:first-child{
    display: none; /* Hide home-link to gain extra-space */
}

/********************************
**	MAIN (TEMPLATE) > Sections **
*********************************/
.template-section, .site-footer {
    padding: 5% 10%; 
}

.section-banner{
    text-align: center;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
.section-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.full-width{
    padding: 0;
}

.gallery-grid{
    margin: 0;
}

.section-flex > .subsection{
    flex: 1 auto;
    margin-bottom: 2em;
}

/* Headings */
h2{
    width: 100%;
    text-transform: uppercase;
    text-align: center;
}

.decorated-title::after{
    content: "";
    display: block;
    background-color: var(--accent-color);
    margin: .875rem auto;
}

h2.decorated-title::after{
    height: 4px;
    width: 80px;
}
h3.decorated-title::after{
    height: 2px;
    width: 50px;
    margin-left: 0;
}

/* Forms */
input, textarea{
    display: inline-block;
    width: 100%;
    line-height: 1.5;
    padding: .5em;
    margin-top: .25em;
    background-color: var(--lightgray--bg-light);
    border: 0;
    border-radius: 2px;
}

input:focus, textarea:focus{
    outline-color: var(--bg-dark);
}

textarea {
    resize: none;
    overflow: auto;
    line-height: normal;
}

.required::after{
    content: " * ";
    font-size: initial;
    color: var(--accent-color);
}

.contact-form label{
    font-size: small;
    font-weight: 600;
    text-transform: uppercase;
}
.newsletter-form input{
    background-color: var(--lightgray--bg-dark);
    margin-top: .5em;
}

.newsletter-form input::placeholder{
    font-style: italic;
    color: var(--bg-light);
}

/************
**	#Home  **
*************/
.section-banner#home{
    background-image: url(./img/artstation/dofresh-60-highrise-v3.jpg);
    background-attachment: scroll;
}

/************
**	#About **
*************/
#about h3 {
    font-size: 1.5em;
}

/*——————————— Subsection dL+Icons ———————————*/
dl{
    padding-left: 2.5em;
}
dt{
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5;
    position: relative;
}
dt > i{
    position: absolute;
    top: 0;
    left: -1.5em;
    font-size: 24px;
}
dd{
    font-weight: 100;
    margin-left: 0;
    margin-bottom: 2em;
}

/*——————————— Dropdown-list ———————————*/
.dropdown-list{
    border: 1px solid var(--lightgray--bg-light);
    border-radius: 2px;
}
.dropdown-element{
    border-bottom: 1px solid var(--lightgray--bg-light);
    position: relative;
}
.dropdown-element > h4{
    text-transform: uppercase;
}
.dropdown-element > h4, .dropdown-element > p{
    margin-left: 3em;
    margin-right: 1em;
}
.dropdown-element > i{
    position: absolute;
    top: 0;
    font-size: 20px;
    padding: 0 1em;
}

.dropdown-element i + p {
    display: none;
}
.dropdown-element i.accordion-open + p {
    display: block;
}

/*****************
**	#Portfolio	**
******************/
.gallery-grid{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.gallery-grid-item{
    width: calc(100%/3);
    flex: 0 0 auto;
}

.gallery-grid-link{
    border: 0;
    position: relative;
    width: 100%;
}
.gallery-grid-img{
    width: 100%;
    height: 120px;
    object-fit: cover;
    vertical-align: top;
}

.icon-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    mix-blend-mode: lighten;
}
.icon-overlay > .fa-icon{
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/* .icon-container{
    z-index: 3;
    left: unset;
    right: 0;
} */

.gallery-menu > .menu-item a{
    border-bottom: 0;
}

/*********************
**	#Testimonials	**
**********************/
.testimonial-block{
    margin-top: 2em;
    padding-bottom: 2.5em;
    text-align: center;
    font-style: italic;
    border-bottom: 1px solid var(--lightgray--bg-light);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.testimonial-block:last-of-type{
    border-bottom: none;
}
.testimonial-block > .avataaar{
    width: 90px;
    height: 100%;
    margin: 0 1.125rem;
}
.testimonial-block > footer{
    font-size: small;
    font-style: normal;
}

/*********************
**	#Buy-product	**
**********************/
.section-banner#buy-product{
    background: linear-gradient(#000000, var(--bg-dark));
}

/*************************
**	#Template-footer	**
**************************/
.iframe-wrapper{
    max-width: 300px;
    user-select: none;
}

/*************************************
**	SECTION-FOOTERS + Secondary nav	**
**************************************/
.section-footer, .site-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.section-footer{
    padding: 1em 0;
}

.full-width > .section-footer{
    padding-left: 10%; 
    padding-right: 10%; 
}

.flex-content{
    flex: 1 100%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 1em;
}

.secondary-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondary-nav > .menu-item{
    flex: 0 1 0px;
}

/*****************
**	SITE FOOTER	**
******************/
.site-footer{
    justify-content: flex-start;
    padding-top: 1em;
    padding-bottom: 1em;
}
.footer-menu{
    margin-bottom: 0;
    padding-bottom: 0;
}

/*——————————————*
|   RESPONSIVE  |
*———————————————*/
@media (orientation: landscape) {
    .menu-xs, .mobile{ /* .main-menu--toggle, .main-menu.xs */
        display: none;
    }
}

@media only screen and (min-width: 576px){
    /* SITE HEADER/BRANDING */
    .site-header{
        flex-wrap: nowrap;
    }
    .logo, .main-nav{
        flex-basis: auto;
    }
    .logo{
        flex-grow: 0;
        flex-shrink: 0;
    }
    .main-nav{
        flex-grow: 1;
        flex-shrink: 1;
    }
    .menu-lg{
        height: 100%;
        display: flex;
        align-items: center;
    }    
    .main-menu.menu-lg > .menu-item{
        flex: 1 auto;
    }
    .menu-xs, .mobile{ /* .main-menu--toggle, .main-menu.xs */
        display: none;
    }
    /* MAIN/SECTIONS */
    .section-banner#home{
        background-attachment: fixed;
    }

    /* #PORTFOLIO */
    .gallery-grid-item{
        width: calc(100%/4);
    }
    .gallery-grid-img{
        height: 144px;
    }

    /* SECTION-FOOTERS */
    .section-footer{
        flex-wrap: nowrap;
    }
    .section-footer > .flex-content{
        flex: 1 auto;
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 768px){
    /* SITE HEADER/BRANDING */
    .menu-item{
        padding: 1em;
    }

    /* MAIN */
    .section-flex > .subsection{
        flex: 1;
        min-width: calc(50% - 2em);
        margin-right: 2em;
    }
    .section-flex > .subsection:last-child{
        flex: 0;
        margin-bottom: 0;
    }

    /* #PORTFOLIO */
    .gallery-grid-img{
        height: 192px;
    }

    /* #TESTIMONIALS */
    .testimonial-block:nth-child(even){
        text-align: left;
        justify-content: flex-start;
    }
    .testimonial-block:nth-child(odd){
        flex-direction: row-reverse;
        text-align: right;
    }
    .testimonial-block > .avataaar{
        flex: 0 auto;
        margin: 0 1.125rem 1.125rem;
    }
    .testimonial-block:nth-child(even) > .avataaar{
        margin-left: 0;
    }
    .testimonial-block:nth-child(odd) > .avataaar{
        margin-right: 0;
    }
    .testimonial-block > p{
        flex: 1;
    }
    .testimonial-block > footer{
        flex: 1 100%;
        padding-left: 108px; /* img-width + margin-width */
    }
    .testimonial-block:nth-child(odd) > footer{
        padding-left: 0;
        padding-right: 108px; /* img-width + margin-width */
    }

    /* SITE FOOTER */
    .site-footer{
        flex-wrap: nowrap;
    }   
    .site-footer > .flex-content{
        margin-bottom: 0;
    }  
    .footer-menu{
        justify-content: flex-end;
        padding-bottom: 1em;
    }
}

@media only screen and (min-width: 992px){
    .site-wrapper{
        max-width: 1200px;
    }
    
    /* SITE HEADER/BRANDING */
    .main-nav{
        justify-content: center;
    }   
    .main-menu > .menu-item:first-child{
        display: block;
    }

    /* MAIN */
    .section-banner{
        padding-left: 20%;
        padding-right: 20%;
    }
    .section-flex > .subsection{
        flex: 1;
        min-width: auto;
        margin-right: 2em;
    }
    .section-flex > .subsection:last-child{
        flex: 1;
        margin-right: 0;
    }
    aside.subsection{
        align-self: center;
    }

    /* #PORTFOLIO */
    .gallery-grid-img{
        height: 248px;
    }
}

@media only screen and (min-width: 1200px){
    /* #PORTFOLIO */
    .gallery-grid-img{
        height: 300px;
    }
}