*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    width: 100vw; height: 100vh;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    background-color: #293F42;
    color: #fff;
}
.wrapper{
    width: 100%; height: 100%;
}
table{
    border-collapse: collapse;
}
.border{
    border: 8px solid #022;
}
.border-sm{
    border-width: 2px;
}
.lighter{
    font-weight: lighter;
    text-transform: capitalize;
}
.t-center{
    padding: 1rem;
    text-align: center;
}
.m-none{
    margin: 0;
}

/* Headings */
.hn{
    font-weight: 500;
    line-height: 1.25;
    color: #b9d4e4;
}
.h0{
    font-size: 12vmin;
}

/* Layout */
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.flex-item{
    margin: .5em;
}

/* Buttons */
.btn{
    background-color: #022;
    border-color: #6a797b;
    border-radius: 4px;
    font-size: 14px;
    color: #b9d4e4;
    padding: 1em 1.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 1.5em;
}

.btn:hover{
    background-color: #293F42;
    color: #fff;
}