*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wrapper{
    width: 100vw;
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.player{
    border: 1px solid #ccc;
    flex: 1 auto;
    padding: 1em;
    text-align: center;
}
table{
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    height: 350px; width: 350px;
    table-layout: fixed;
    overflow: hidden;
    border-collapse: collapse;
}
td{
    border: 1px solid #ccc;
    font-size: 2em;
}
.cell{
    height: calc(100% / 3);
    text-align: center;
    user-select: none;
}
.info-container{
    flex: 1 100%;
    text-align: center;
    padding: 1em;
}
.win{
    background-color: rgba(144, 238, 144, .6);
    border-color: rgb(144, 238, 144);
    color: rgb(0, 100, 0);
}