*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 100vw;
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.player-info{
    background-color: lightskyblue;
    flex: 1 auto;
    padding: 1em;
}

table{
    height: 350px; width: 350px;
    table-layout: fixed;
    overflow: hidden;
    border-collapse: collapse;
}
td{
    border: 1px solid #ccc;
    font-size: 2em;
}
.cell{
    height: calc(100% / 3);
    text-align: center;
    user-select: none;
}
.info-container{
    flex: 1 100%;
    text-align: center;
    padding: 1em;
}